body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #73737371; /* Fundo escuro */
}

.form-box-adminpanel {
  display: flex;
  flex-direction: column; /* Organize os elementos verticalmente */
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%; /* Ajuste para tela menor */
  background-color: #acacac4c; /* Fundo escuro */
  border: 2px solid #2ffbfe; /* Borda azul */
  transform: translate(-50%, -50%);
  border-radius: 8px; /* Arredondamento das bordas */
  box-shadow: 5px 5px 80px #006395; /* Sombra */
  opacity: 100;
  padding: 20px; /* Espaçamento interno */
}

.form-content-adminpanel {
  display: flex;
  flex-direction: column; /* Organize os elementos verticalmente */
  width: 100%;
  padding: 10px 20px;
  align-items: center;
  flex-wrap: wrap;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #1e2737;
  color: #2ffbfe;
  border-radius: 8px; /* Arredonda as bordas da tabela */
}

.user-table th, .user-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #2ffbfe; /* Linha de separação azul */
}

.user-table th {
  background-color: #1e2737;
  color: #2ffbfe;
  font-weight: bold;
}

.user-table tr:hover {
  background-color: #23304d; /* Cor de destaque ao passar o mouse */
}

.user-table button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #1f9398; /* Azul padrão */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease; /* Transição suave da cor */
  display: inline-block; /* Faz com que os botões fiquem lado a lado */
  font-size: 14px; /* Ajuste o tamanho da fonte */
}

.user-table .btn-edit {
  background-color: #1f9398; /* Azul padrão */
}

.user-table .btn-edit:hover {
  background-color: #26b7be; /* Azul mais escuro */
  color: #fff;
}

.user-table .btn-delete {
  background-color: #8d1515; /* Vermelho */
}

.user-table .btn-delete:hover {
  background-color: #b31a1a; /* Vermelho mais escuro */
  color: #fff;
}

/* Responsividade (Media Queries) */
@media (max-width: 600px) {
  .form-box-adminpanel {
    display: flex;
    align-items: center;
    width: 90%; /* Ajuste a largura para telas menores */
  }

  .user-item{
    display: flex;
    width: 100%;
  }
  
  .user-table {
    display: flex;
    display: block;
    overflow-x: auto;
  }
  .user-table th, .user-table td {
    display: flex;
    font-size: 14px; /* Ajuste o tamanho da fonte */
    padding: 2px; /* Reduz o padding para melhor visualização */
  }
  .user-table button {
    display: flex;
    flex-direction: column;
    padding: 6px 8px; /* Ajuste o padding dos botões */
    font-size: 12px; /* Ajuste o tamanho da fonte */
  }
}