/* form.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.form-popup {
    display: flex; /* Altere a exibição para flex */
    justify-content: center;
    position: fixed;
    top: 53%;
    left: 50%;
    max-width: 720px;
    background-color: transparent;
    border: 2px solid #2ffbfe;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 5px 5px 80px #006395;
    opacity: 100;
}

.form-popup .form-box {
    display: flex;
    
}

.form-box h2 {
    justify-content: baseline;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.form-box .form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    align-items: center;
}

form .input-field {
    height: 45px;
    width: 100%;
    margin-top: 15px;
    position: relative;
}

img {
    width: 120px;
}

form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    outline-style: none;
    border-style: none;
    border-radius: 3px;
    background-color: #1e27378c;
    color: #2dfafd;
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:focus {
    border-color: #2ffbfe;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
    border-color: #2ffbfe;
}

.input-field input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.form-box a {
    color: #ffffff;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box :where(.forgot-pass, .policy-text) {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
    color: #fff;
}

.input-fieldError {
    color: #fff;
    font-size: 0.95rem;
    margin-top: 5px;
}

form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background-color: #1f9398;
    transition: 0.2s ease;
}

form button:hover {
    background-color: #26b7be;
}

.form-box .bottom-link {
    text-align: center;
    color: #fff;
    font-size: 0.95rem;
}

.signup .policy-text {
    display: flex;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 960px) {
    

    


    

   

    

    
}
